:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  --color-bg: #282a36;
  --color-bg-sec: #44475a;
  --color-fg: #f8f8f2;
  --color-seconday: #6272a4;
  --color-cyan: #8be9fd;
  --color-green: #50fa7b;
  --color-orange: #ffb86c;
  --color-pink: #ff79c6;
  --color-purple: #bd93f9;
  --color-red: #ff5555;
  --color-yellow: #f1fa8c;

  background-color: var(--color-bg);
  color: var(--color-fg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
}

section:nth-of-type(odd){
  border: 2px dashed var(--color-cyan)
}
section:nth-of-type(even){
  border: 2px dashed var(--color-pink)
}

#scolldowninfo {
  position: fixed;
  bottom: 0;
  margin-bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#scolldowninfo:hover {
  display: none;
}

#infotext {
  font-size: 1.5em;
}

#vizMap {
  border: 1px solid var(--color-fg);
  display: flex;
  margin-top: 4%;
  justify-content: center;
} 

#titleIntro {
  width: 50%;
  text-align: center;
  margin: 3% 0 0 0;
}